<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"  name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/register_service-worker.js"></script>
    <script src="/javascripts/fetchData.js"></script>
    <script src="/javascripts/deliteEntry.js"></script>
    <script src="/javascripts/addEntry.js"></script>
    <script>
     window.onload= getData;
    </script>
  </head>
  <body>
    <div id="outerDiv">
    </div>
    <script src="/javascripts/index_bundle.js"></script>
  </body>
</html>
