doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/fetchData.js' charset='utf-8')
    script(src='/javascripts/register_service-worker.js' charset='utf-8')
  body
    block content
